<% start('wrapper') %>
<div class="form-group">
	<label for="<%= item.id %>" class="col-sm-2 control-label"><%= item.title %></label>
	<div class="col-sm-10 controls checkbox">
			<!--INPUT-->
	</div>
</div>
<% end('wrapper') %>

<% start('input') %>
<input name="<%= item.fullPath %>" value="0" type="hidden">
<input
	name="<%= item.fullPath %>"
	class="form-control"
	value="1"
	id="<%= item.id %>"
	type="checkbox"
	<%= (item.value ? 'checked' : '') %>
	<% if(item.readonly===true){ %> readonly <% } %>
>
<% end('input') %>