<div class="form-group">
	<label for="AdminField-<%= item.name %>" class="col-sm-2 control-label"><%= item.title %></label>
	<div class="col-sm-10 controls">
		<input name="data[<%= modelName %>][<%= item.name %>]" class="form-control" value="<%= item.value %>" id="AdminField-<%= item.name %>" type="text">
	</div>
</div>