<div class="form-group">
	<label for="<%= item.id %>" class="col-sm-2 control-label"><%= item.title %></label>
	<div class="col-sm-10 controls">
		<input name="<%= item.fullPath %>" class="form-control" value="<%= item.value || '' %>" id="<%= item.id %>" type="number">
	</div>
</div>