<div class="form-group">
	<label for="<%= item.id %>" class="col-sm-2 control-label"><%= item.title %></label>
	<div class="col-sm-10 controls">
		<input name="<%= item.fullPath %>" class="form-control" value="" id="<%= item.id %>-first" type="password" placeholder="<%= __('chimera', 'Enter a new password') %>"><br/>
		<input name="<%= item.fullPath %>" class="form-control" value="" id="<%= item.id %>-second" type="password" placeholder="<%= __('chimera', 'Repeat the same password') %>">
	</div>
</div>