<% start('wrapper') %>
<div class="form-group">
	<label for="<%= item.id %>" class="col-sm-2 control-label"><%= item.title %></label>
	<div class="col-sm-10 controls">
		<!--INPUT-->
	</div>
</div>
<% end('wrapper') %>

<% start('input') %>
<div class="select2group" style="width:100%;overflow: auto;">
	<div style="float:right;margin-left:15px">
		<button data-modal-add data-modal-url="<%= item.value.modalUrl %>" class="btn btn-default"><i class="fa fa-plus-circle"></i> <% echo(__('chimera', 'Add property')) %></button>
	</div>
	<div style="overflow:auto;">
		<input
			type="hidden"
			name="<%= item.fullPath %>"
			class=" select2-form-control"
			id="AdminField-<%= item.name %>"
			data-url="<%= item.value.url %>"
			value="<%= item.value.value %>"
			data-select-type="<%= item.value.select %>"
			<% if(item.readonly===true){ %> readonly <% } %>
			>
		</input>
	</div>
	<div class="clear"></div>
</div>
<% end('input') %>