<% start('wrapper') %>
<div class="form-group">
	<label for="<%= item.id %>" class="col-sm-2 control-label"><%= item.title %></label>
	<div class="col-sm-10 controls">
		<!--INPUT-->
	</div>
</div>
<% end('wrapper') %>

<% start('input') %>
<textarea name="<%= item.fullPath %>" class="form-control textfield" id="<%= item.id %>" <% if(item.readonly===true){ %> readonly <% } %>><%= item.value || '' %></textarea>
<% end('input') %>

