<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: Edit record <%= item._id %></span>
	<div class="actions paginate-actions">
		<% chimera.actions('paginate') %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>
<% form.create(modelName, {prefix: '/admin'}) %>
<!--<form id="saveRecord" data-model="<%= modelName %>">-->
	<table class="table table-striped table-bordered">
		<% for (var i in fields) { %>
		<% var field = fields[i] %>
		<tr>
			<td><%= field %></td>
			<td><% form.blueprintField(field, {blueprint: blueprint[field]}) %></td>
		</tr>
		<% } %>
	</table>
<% form.end('save') %>

<button class="btn btn-primary" id="saveEdit" data-model="<%= modelName %>" data-id="<%= item._id %>">Save record</button>

<% end(store('chimera-view-setting').contentblock) %>