<%
expands('layouts/admin_main');

if (typeof editconnection === 'undefined') {
	var editconnection = '/admin/:modelname/edit/:id';
}

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: Index</span>
	<div class="actions paginate-actions">
		<% chimera.actions('paginate') %>
	</div>
	<div class="clear"></div>
	<% implement('admin/filters') %>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) -%>
<table class="table table-striped table-bordered">
	<tr>
		<% for (var i in fields) { %>
		<th><% Paginate.sort({field: fields[i], parentClass: 'activesort'}) %></th>
		<% } %>
		<th>Actions</th>
	</tr>

	<% for (var i in items) { %>
		<% var item = items[i][modelName] %>
		<% if (!item) continue %>
		<tr>
			<% for (var f in fields) { %>
				<td><% chimera.field(item, fields[f]) %></td>
			<% } %>
			<td>
				<div class="actions record-actions">
				<%
					chimera.actions('record', {
						'class': 'btn btn-xs',
						routeVars: {
							id: item._id
						},
						content: false
					});
				%>
				</div>
			</td>
		</tr>
	<% } %>
</table>

<div id="pagination-showing" class="pull-right"><%= __('chimera', 'Showing') %> <%= items.length %> <%= __('chimera', 'of') %> <%= _PageInfo[modelName].items %> <%= modelName.pluralize() %></div>

<% Paginate.show() %>

<% end(store('chimera-view-setting').contentblock) %>