<%
expands('layouts/admin_main');

if (typeof editconnection === 'undefined') {
	var editconnection = '/admin/:modelname/edit/:id';
}

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: Index</span>
	<div class="actions paginate-actions">
		<% chimera.actions('paginate') %>
	</div>
	<div class="clear"></div>
	<% implement('admin/filters') %>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) -%>
<div class="pcard">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4 center">
					
				</div>
				<div class="col-md-4 right" style="text-align:right;">
					<%= __('chimera', 'Showing') %> <%= items.length %> <%= __('chimera', 'of') %> <%= _PageInfo[modelName].items %> <%= modelName.pluralize() %>
				</div>
			</div>
		</div>
		<div class="panel-body" style="padding:0px;">
			<div class="no-border tablewrap table-responsive">
				<table class="table table-striped indextable responsive-table" style="margin-bottom:0px;">
					<thead>
						<tr>
							<th>Actions</th>
							<% for (var i in fields) { %>
							<th><% Paginate.sort({field: fields[i], parentClass: 'activesort'}) %></th>
							<% } %>
						</tr>
					</thead>

					<% for (var i in items) { %>
						<% var item = items[i][modelName] %>
						<% if (!item) continue %>
						<tr>
							<td data-title="Actions">
								<div class="actions record-actions">
								<%
									chimera.actions('record', {
										'class': 'btn btn-xs',
										routeVars: {
											id: item._id
										},
										content: false
									});
								%>
								</div>
							</td>
							<% for (var f in fields) { %>
								<td data-title="<%= fields[f] %>"><% chimera.field(item, fields[f]) %></td>
							<% } %>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<div class="clearfix">
				<% Paginate.show() %>
			</div>
		</div>
	</div>
</div>


<% end(store('chimera-view-setting').contentblock) %>