<% expands('layouts/admin_main');

start('chimera-page-title');
echo('<h1>My Settings</h1>');
end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<% form.create('my_settings', {id: 'UserSettings', action: '/chimera/my_settings', 'class':'form-horizontal'}) %>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="checkbox">
			<label>
				<input name="data[MySetting][can_mail]" type="checkbox" id="t_and_c" value="1" <% if(settings.can_mail == true){ %> checked <% } %>> <%= __('chimera', 'Allow notification updates via mail') %>
			</label>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<%= __('chimera', 'Allow notifications from') %>
	</div>
	<div class="clear"></div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<select name="data[MySetting][get_notifications]" class="selectpicker" style="max-width: 150px;">
			<option value="all" <% if(settings.get_notifications == 'all'){ %> selected <% } %>><%= __('chimera', 'Everyone') %></option>
			<option value="admin_only" <% if(settings.get_notifications == 'admin_only'){ %> selected <% } %>><%= __('chimera', 'Administrators only') %></option>
			<option value="none" <% if(settings.get_notifications == 'none'){ %> selected <% } %>><%= __('chimera', 'Nobody') %></option>
		</select>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<%= __('chimera', 'Always prefer this language') %>
	</div>
	<div class="clear"></div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<% form.fieldSelect('prefix_preference', {elements: prefixes, value: settings.prefix_preference, attributes: {class: 'selectpicker'}}) %>
	</div>
</div>

<br />
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<% form.end('my_settings', {title: 'Save settings', 'class': 'btn btn-primary'}) %>
	</div>
</div>
<script>$('.selectpicker').selectpicker();</script>

<% end(store('chimera-view-setting').contentblock) %>