<%
matchIns = {class: 'active', parent: {class: 'active'}};

// Emit the event that'll apply the notification js
emit('chimera-notifications')
%>

<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="badge badge-important"><% if(typeof unread == 'number' && unread>0){%><%= unread %><% } %></span>
		<%= UserFirstName %> <strong><%= UserLastName %>
		<i class="fa fa-angle-left"></i>
	</a>
	<div class="arrow-container">
		<div class="arrow"></div>
	</div>
	<ul class="dropdown-menu" style="max-height: 450px;overflow-y: auto;overflow-x: hidden;">
		<% if(typeof notifications == 'object' && notifications.length>0){ %>
			<% for(var i=0; i<notifications.length; i++){ %>
				<% var notification = notifications[i]; %>
				<li class="notification notification-<%= notification.NotificationMessage.notification_type %>">
					<a 
						href="<% if(notification.NotificationMessage.link){ %><%= notification.NotificationMessage.link %><% } %>"
						<% if(!notification.NotificationUser.read){%> data-usermessageid="<%= notification.NotificationUser._id %>" <% } %>
						<% if(notification.NotificationMessage.external_link){%> target="_blank" <% } %>
					>
						<%= notification.User.first_name %> <strong><%= notification.User.last_name %></strong>
						<br />
						<%= notification.NotificationMessage.message %>
						<br />
						<small class="text-muted timeago" title="<%= notification.NotificationUser.created.toISOString() %>"></small>
						<% if(!notification.NotificationUser.read){%><span class="pull-right label label-<%= notification.NotificationMessage.notification_type %> unread" style="margin-top: 3px;"><%= __('chimera', 'new') %></span> <% } %>
					</a>
				</li>
			<% } %>
		<% } else { %>
			<li class="notification"><a href="#">No notifications</a></li>
		<% } %>
	</ul>
</li>
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-cog"></i>
	</a>
	<div class="arrow-container">
		<div class="arrow"></div>
	</div>
	<ul class="dropdown-menu" style="min-width: 0px;">
		<li><% add_link('/chimera/settings', {title: __('chimera', 'Website settings')}); %></li>
		<li><% add_link('/chimera/my_settings', {title: __('chimera', 'My settings')}); %></li>
		<hr style="margin-top: 5px; margin-bottom: 5px;" />
		<li><% add_link('/logout', {title: '<i class="fa fa-power-off"></i> Logout'}); %></li>
	</ul>
</li>
