<%

var groupName,
    fData,
    aType,
    active = 'active',
    original = {},
    group,
    item,
    uid = ~~(Math.random()*1000),
    i,
    readonly=true;

if (typeof originalItem != 'undefined' && originalItem) {
	original = originalItem[modelName] || {};
}

if (typeof foreignData != 'undefined') {
	fData = foreignData;
}

if (typeof actionType != 'undefined') {
	aType = actionType;
} else {
	aType = 'write';
}

if (typeof nested === 'undefined') {
	var nested = false;
}

if (typeof options !== 'object') {
	options = {};
}

if (typeof options.formName === 'undefined') {
	if (typeof modelName !== 'undefined') {
		options.formName = modelName;
	} else {
		options.formName = false;
	}
}

if (typeof options.saveButton === 'undefined') {
	if (typeof saveButton !== 'undefined') {
		options.saveButton = saveButton;
	} else {
		options.saveButton = __('chimera', 'Save');
	}
}

if(typeof options.showSaveButton == 'undefined' || options.showSaveButton){
	readonly = false;
}

if (typeof history === 'undefined') {
	history = true;
}

if (typeof modal === 'undefined') {
	modal = false;
}

errors();
%>
<div class="editform">
	<div class="grouptabs">
		<ul class="nav nav-tabs">
		<% for (groupName in options.groups) { %>
			<li class="<%= active %>"><a href="#chitab-<%= groupName %>-<%= uid %>" data-toggle="tab"><%= options.groups[groupName].title || groupName.humanize() %></a></li>
		<%
			active = '';
		}
		%>
		</ul>
	</div>
	<div class="panel panel-default">
		<% form.create(options.formName, {action: 'here', 'class': 'form-horizontal', history: history}) %>
		<% if (modal) { %><input type="hidden" name="modal" value="1"/><% } %>
		<div class="panel-body">
			<div class="tab-content">
				<%
					active = 'active';
					for (groupName in options.groups) {
				%>
							<div class="tab-pane <%= active %>" id="chitab-<%= groupName %>-<%= uid %>">
				<%
						active = '';
						group = options.groups[groupName];

						for (i = 0; i < group.fields.length; i++) {

							item = group.fields[i];
							item.readonly = readonly || item.disabled;

							if (item.scripts) {
								asset.script(item.scripts, {block: 'head'});
							}

							chimera.inputfield(item.view, {emptyResult: item.emptyResult, variables: {item: item, original: original, foreign: fData}});
						}

						echo('</div>');
					}
				%>
			</div>
		</div>
		<div class="panel-footer">
			<% if (modelFlags[aType]) { %>
				<% if (modal) { %>
					<button class="btn btn-primary savemodeledit modalsubmit"><% echo(options.saveButton) %></button>
				<% } else if (typeof options.showSaveButton == 'undefined' || options.showSaveButton) { %>
					<% form.submit(options.saveButton, {'class': 'btn btn-primary savemodeledit'}) %>
				<% } %>
			<% } %>
		</div>

	</div>
	<% form.end() %>
</div>