<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
    <span class="title" id="mainTitle"><%= modelTitle || modelName %>: Export</span>
    <div class="actions paginate-actions">
        <% chimera.actions('paginate') %>
    </div>
    <div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<% errors() %>


<% 
//IF JSON VIEW USE FIELDS ELSE USE ALLFIELDS
if(typeof(allGroupedFields) === 'undefined'){
	fieldInfo = [];
	for(var i in fields){
		var field = {};
		field.title = field.name = fields[i];
		fieldInfo.push(field);
	}
} else {
	fieldInfo = allFieldTitles;
}

// Emit the event that'll create the filter html
emit('create-chimera-filters', {fields: allGroupedFields, modelName: modelName, filters: filters})
emit('create-chimera-fields', {fields: allGroupedFields})
%>
<div class="filters">
	<% form.create(modelName, {action: 'here', 'class': 'form-horizontal', file:true}) %>
	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon search-btn" style="cursor: pointer;"><i class="fa fa-search"></i></span>
				<input type="text" class="form-control search-input" name="data[<%= modelName %>][search]" placeholder="Search all" value="<% if(scope.variables.search){ %><%= search %><% } %>">
				<span class="input-group-addon search-btn" style="cursor: pointer;"><% echo(__('chimera', 'Search')) %></span>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<!-- FILTERS -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-group" id="accordion" style="padding-right:0px;">
				<div class="panel panel-default">
					<div class="panel-heading" id="filters-collapse">
						<h4 class="panel-title" >
							<% echo(__('chimera', 'Filters')) %>
						</h4>
					</div>
					<div id="collapse-filters" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="filters" class="pull-right col-sm-12">
								<table class="col-sm-12">

								</table>
							</div>
							<div class="clear"></div>
							<br />
							<div class="col-sm-12">
								<input type="hidden" id="chimera-filters-input">
							</div>
							<div class="clear"></div>
							<br />
							<div id="andor" class="col-sm-12" style="display:none;">
								<div class="radio row">
									<div class="col-sm-12">
										<label>
											<input type="radio" name="data[<%= modelName %>][andor]" value="or" <% if(andor && andor === "or"){%> checked <% } %>>
											<% echo(__('chimera', 'Match any condition')) %>
										</label>
									</div>
								</div>
								<div class="radio row">
									<div class="col-sm-12">
										<label>
											<input type="radio" name="data[<%= modelName %>][andor]" value="and" <% if(!andor){%> checked <% } %> <% if(andor && andor === "and"){%> checked <% } %>>
											<% echo(__('chimera', 'Match all conditions')) %>
										</label>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordion2" style="padding-right:0px;">
				<div class="panel panel-default">
					<div class="panel-heading" id="fields-collapse" style="cursor: pointer;">
						<h4 class="panel-title" >
							<% echo(__('chimera', 'Fields')) %>
						</h4>
					</div>
					<div id="collapse-fields" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="fields">
								
							</div>
							<input name="data[<%= modelName %>][fields]" id="export-fields" value="" type="hidden" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<input name="data[<%= modelName %>][filters]" id="export-filters" value="" type="hidden" >
	<div id="language" class="col-sm-12">
		<div class="radio row">
			<% for(var i in languages){ %>
				<div style="width:50px; float:left;">
					<label>
						<input type="radio" name="data[<%= modelName %>][language]" value="<%= languages[i] %>" <% if(i == 0){%> checked <% } %>>
						<%= languages[i] %>
					</label>
				</div>
			<% } %>
		</div>
	</div>
	<hr style="border-color:#C2CCD6" />
	<button class="btn btn-primary" id="applybtn" style="display: inline-block !important;"><i class="fa fa-external-link"></i> <% echo(__('chimera', 'Export')) %></button>
	<% form.submit('Export', {'class': 'btn btn-primary export-submit-btn hidden'}) %>
	<% add_link('index', {title: 'Cancel', 'class': 'btn btn-default'}); %>
	<br /><br />
	<% form.end() %>
	
</div>
<div class="clear"></div>
<script>$('.selectpicker').selectpicker();</script>
<% end(store('chimera-view-setting').contentblock) %>