<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
    <span class="title" id="mainTitle"><%= modelName %>: Export</span>
    <div class="actions paginate-actions">
        <% chimera.actions('paginate') %>
    </div>
    <div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<% errors() %>

<% form.create(modelName, {action: 'here', 'class': 'form-horizontal', file: true}) %>
<div class="table-responsive" style="max-width: 600px;">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Column</th>
				<th>Conditions</th>
				<th>Conditions</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i in fields) { %>
			<tr>
				<td>
					<div class="checkbox">
						<label>
							<input type="checkbox" checked name="data[<%= modelName %>][<%= fields[i] %>]" value="<%= fields[i] %>">
						</label>
					</div>
				</td>
				<td>
					<%= fields[i] %>
				</td>
				<td>
					<select name="data[<%= modelName %>][<%= fields[i] %>_condition]" class="form-control-nos2">
						<option value="all">- ALL -</option>
						<option value="like">Contains</option>
						<option value="is">Equals</option>
						<option value="notlike">Not like</option>
						<option value="isnot">Is not</option>
					</select>
				</td>
				<td>
					<input type="text" class="form-control" placeholder="<%= fields[i] %>" name="data[<%= modelName %>][<%= fields[i] %>_value]">
				</td>
			</tr>
			<% } %>
			<tr>
				<td colspan="4">
					<div class="radio col-sm-6">
						<label>
							<input type="radio" name="data[<%= modelName %>][andor]" value="or" checked>
							Match any condition
						</label>
					</div>
					<div class="radio col-sm-6">
						<label>
							<input type="radio" name="data[<%= modelName %>][andor]" value="and">
							Match all conditions
						</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<% form.submit('Export', {'class': 'btn btn-primary'}) %>
<% add_link('../index', {title: 'Cancel', 'class': 'btn btn-default'}); %>
<br /><br />
<% form.end() %>
<% end(store('chimera-view-setting').contentblock) %>