<% expands('layouts/admin_main');

var groupName,
    active = 'active',
    group,
    item,
    i;

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: <%= editTitle %></span>
	<div class="actions paginate-actions">
		<% chimera.actions(showActions) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<% errors() %>

<div class="editform">
	<div class="grouptabs">
		<ul class="nav nav-tabs">
		<% for (groupName in __groups) { %>
			<li class="<%= active %>"><a href="#chitab-<%= groupName %>" data-toggle="tab"><%= __groups[groupName].title || groupName.humanize() %></a></li>
		<%
			active = '';
		}
		%>
		</ul>
	</div>
	<div class="panel panel-default">
		<% form.create(modelName, {action: 'here', 'class': 'form-horizontal'}) %>
		<div class="panel-body">
			<div class="tab-content">
	<%
		active = 'active';
		for (groupName in __groups) {
	%>
				<div class="tab-pane <%= active %>" id="chitab-<%= groupName %>">
	<%
			active = '';
			group = __groups[groupName];

			for (i = 0; i < group.fields.length; i++) {

				item = group.fields[i];

				print_element('chimera_fields/' + item.view + '_field', {
					variables: {
						item: item
					}
				});
			}

			echo('</div>');
		}
	%>
			</div>
		</div>
		<div class="panel-footer">
			<% if (typeof showSaveButton == 'undefined' || showSaveButton) { %>
				<% form.submit(saveButton, {'class': 'btn btn-primary'}) %>
			<% } %>
		</div>

	</div>
	<% form.end() %>
</div>

<% end(store('chimera-view-setting').contentblock) %>