<% expands('layouts/admin_main');

var groupName,
    active = 'active',
    group,
    item,
    i;

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: <%= editTitle %></span>
	<div class="actions paginate-actions">
		<% chimera.actions(showActions) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<div class="error"><% errors() %></div>

<div class="panel panel-default">
	<div class="panel-heading">
		<ul class="nav nav-tabs">
		<% for (groupName in __groups) { %>
			<li><a href="#chitab-<%= groupName %>" data-toggle="tab"><%= __groups[groupName].title %></a></li>
		<% } %>
		</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
		<form class="form-horizontal" role="form">
<%
	for (groupName in __groups) {
%>
			<div class="tab-pane <%= active %>" id="chitab-<%= groupName %>">
<%
		active = '';
		group = __groups[groupName];

		for (i = 0; i < group.fields.length; i++) {

			item = group.fields[i];

			print_element('chimera_fields/' + item.view + '_field', {
				variables: {
					title: item.field,
					name: item.field,
					value: item.value
				}
			});
		}

		echo('</div>');
	}
%>
		</form>
		</div>
	</div>

</div>

<% if (typeof showSaveButton == 'undefined' || showSaveButton) { %>
	<button class="btn btn-primary" id="saveEdit"><%= saveButton %></button>
<% } %>

<% end(store('chimera-view-setting').contentblock) %>