<%
expands('layouts/admin_main');

var field, item, i, j;

if (typeof editconnection === 'undefined') {
	var editconnection = '/admin/editor/:modelname/edit/:id';
}

start('chimera-page-title');
implement('chimera/index_head');
end('chimera-page-title');

start(store('chimera-view-setting').contentblock) -%>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4 center">
				
			</div>
			<div class="col-md-4 right" style="text-align:right;">
				<%= __('chimera', 'Showing') %> <%= items.length %> <%= __('chimera', 'of') %> <%= _PageInfo[modelName].items %> <%= modelName.pluralize() %>
			</div>
		</div>
	</div>
	<div class="panel-body" style="padding:0px;">
		<table class="table table-striped indextable" style="margin-bottom:0px;">
			<tr>
				<th>Actions</th>
				<% for (i = 0; i < fieldInfo.length; i++) {
					field = fieldInfo[i];
				%>
				<th><% Paginate.sort({field: field.fieldPath, display: field.title, parentClass: 'activesort'}) %></th>
				<% } %>
			</tr>
			<tr>
				<th>
					<a data-apply-pagination class="btn btn-default"><% echo(__('filter', 'Apply')) %></button>
				</th>
				<% for (i = 0; i < fieldInfo.length; i++) {
					field = fieldInfo[i];
				%>
				<th><% Paginate.filter({field: field.fieldPath, display: field.title}) %></th>
				<% } %>
			</tr>

			<% for (i = 0; i < items.length; i++) {
				item = items[i];
			%>
				<% if (!item) continue %>
				<tr>
					<td>
						<div class="actions record-actions">
						<%
							chimera.actions('record', {
								'class': 'btn btn-xs',
								routeVars: {
									id: item._id
								},
								content: false
							});
						%>
						</div>
					</td>
					<% for (j = 0; j < fieldInfo.length; j++) { %>
						<td><% chimera.field(item.fields, fieldInfo[j]) %></td>
					<% } %>
				</tr>
			<% } %>
		</table>
	</div>
	<div class="panel-footer">
		<% Paginate.show() %>
	</div>
</div>

<% end(store('chimera-view-setting').contentblock) %>