<%
expands('layouts/admin_main');

var field, item, i, j;

if (typeof editconnection === 'undefined') {
	var editconnection = '/admin/editor/:modelname/edit/:id';
}

start('chimera-page-title');
implement('chimera/index_head');
end('chimera-page-title');

start(store('chimera-view-setting').contentblock) -%>
<div class="pcard">
	<header class="no-border">
		<div class="row">
			<div class="col-md-4">
				<span style="margin-top: 9px;display: inline-block;font-style:italic"><%= __('chimera', 'Showing') %> <%= items.length %> <%= __('chimera', 'of') %> <%= _PageInfo[modelName].items %> <%= modelName.pluralize() %></span>
			</div>
			<div class="col-md-4 center" style="text-align:center">
				<label for="data[<%= modelName %>][show]" style="margin:0;font-weight:normal;"><% echo(__('chimera', 'Show')) %></label>
				<select id="show" name="data[<%= modelName %>][show]" class="selectpicker" data-width="70px">
					<% for(var i in pageSizes){ %>
						<option value="<%= pageSizes[i] %>" <% if(show==pageSizes[i]){ %> selected <% } %>><%= pageSizes[i] %></option>
					<% } %>
				</select>
				<label for="data[<%= modelName %>][show]" style="margin:0;font-weight:normal;"><% echo(__('chimera', 'per page')) %></label>
			</div>
			<div class="col-md-4 right" style="text-align:right;">
				<% chimera.actions('list', {modelTitle: modelTitle, newItem: newItemName}) %>
			</div>
		</div>
	</header>
	<div class="body no-border tablewrap table-responsive">
		<table class="table table-hover indextable responsive-table" style="margin-bottom:0px;">
			<thead>
				<tr>
					<th>Actions</th>
					<% for (i = 0; i < fieldInfo.length; i++) {
						field = fieldInfo[i];
						if (!field.title) {
							field.title = field.field.humanize();
						}
					%>
					<th><% Paginate.sort({field: field.fieldPath, display: __('fieldTitles', field.title), parentClass: 'activesort'}) %></th>
					<% } %>
				</tr>
				<tr>
					<th>
						<a data-apply-pagination class="btn btn-default"><% echo(__('filter', 'Apply')) %></button>
					</th>
					<% for (i = 0; i < fieldInfo.length; i++) {
						field = fieldInfo[i];
					%>
					<th><% Paginate.filter({field: field.fieldPath, display: __('fieldTitles', field.title)}) %></th>
					<% } %>
				</tr>
			</thead>

			<% for (i = 0; i < items.length; i++) {
				item = items[i];
			%>
				<% if (!item) continue %>
				<tr>
					<td data-title="Actions">
						<div class="actions record-actions">
						<%
							chimera.actions('record', {
								'class': 'btn btn-xs',
								routeVars: {
									id: item._id
								},
								modelTitle: modelTitle,
								newItem: newItemName,
								content: false
							});
						%>
						</div>
					</td>
					<% for (j = 0; j < fieldInfo.length; j++) { 
						field = fieldInfo[j];
					%>
						<td data-title="<%= field.title %>"><% chimera.field(item.fields, fieldInfo[j]) %></td>
					<% } %>
				</tr>
			<% } %>
		</table>
		<div class="row">
			<div class="col-md-12" style="text-align:center;padding-top:16px">
				<div style="display:inline-block">
					<div class="listinfo" style="float:left;">
						<span><%= __('chimera', 'Showing') %> <%= items.length %> <%= __('chimera', 'of') %> <%= _PageInfo[modelName].items %> entries</span>
					</div>
					<div class="pagination" style="float:left;">
						<% Paginate.show() %>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<% end(store('chimera-view-setting').contentblock) %>