<% 
//IF JSON VIEW USE FIELDS ELSE USE ALLFIELDS
if(typeof(allGroupedFields) === 'undefined'){
	fieldInfo = [];
	for(var i in fields){
		var field = {};
		field.title = field.name = fields[i];
		fieldInfo.push(field);
	}
} else {
	fieldInfo = allFieldTitles;
}

// Emit the event that'll create the filter html
emit('create-chimera-filters', {fields: allGroupedFields, modelName: modelName, filters: filters})
%>
<div class="filters">
	<% form.create(modelName, {action: 'here', 'class': 'form-horizontal'}) %>
	<!-- SHOW X ITEMS PER PAGE -->
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="data[<%= modelName %>][show]" class="col-sm-9" style="line-height: 30px; text-align:right;"><% echo(__('chimera', 'Show')) %></label>
				<div class="col-sm-3">
					<select id="show" name="data[<%= modelName %>][show]" class="selectpicker" data-width="100%">
						<% for(var i in pageSizes){ %>
							<option value="<%= pageSizes[i] %>" <% if(show==pageSizes[i]){ %> selected <% } %>><%= pageSizes[i] %></option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon search-btn" style="cursor: pointer;"><i class="fa fa-search"></i></span>
				<input type="text" class="form-control search-input" name="data[<%= modelName %>][search]" placeholder="Search all" value="<% if(search){ %><%= search %><% } %>">
				<span class="input-group-addon search-btn" style="cursor: pointer;"><% echo(__('chimera', 'Search')) %></span>
			</div>
			<!--<option value="global_search" ><% //echo(__('chimera', 'Global Search')) %></option>-->
		</div>
	</div>
	<div class="clear"></div>

	<!-- FILTERS -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-group" id="accordion" style="padding-right:0px;">
				<div class="panel panel-default">
					<div class="panel-heading" id="filters-collapse">
						<h4 class="panel-title" >
							<% echo(__('chimera', 'Filters')) %>
						</h4>
					</div>
					<div id="collapse-filters" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="filters" class="pull-right col-sm-12">
								<table class="col-sm-12">

								</table>
							</div>
							<div class="clear"></div>
							<br />
							<div class="col-sm-12">
								<input type="hidden" id="chimera-filters-input">
							</div>
							<div class="clear"></div>
							<br />
							<div id="andor" class="col-sm-12" style="display:none;">
								<div class="radio row">
									<div class="col-sm-12">
										<label>
											<input type="radio" name="data[<%= modelName %>][andor]" value="or" <% if(andor && andor === "or"){%> checked <% } %>>
											<%= __('chimera', 'Match any condition') %>
										</label>
									</div>
								</div>
								<div class="radio row">
									<div class="col-sm-12">
										<label>
											<input type="radio" name="data[<%= modelName %>][andor]" value="and" <% if(!andor){%> checked <% } %> <% if(andor && andor === "and"){%> checked <% } %>>
											<%= __('chimera', 'Match all conditions') %>
										</label>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<br />
							<div class="col-sm-12">
								<button class="btn btn-primary disabled" id="applybtn"><i class="fa fa-check"></i> <% echo(__('chimera', 'Apply')) %></button>
								<button class="btn btn-default  <% if (filters && filters.length) echo('hasfilters') %>" id="clearbtn"><i class="fa fa-refresh"></i> <% echo(__('chimera', 'Clear')) %></button>
								<!--<button class="btn btn-default" id="filterbtn"><i class="fa fa-plus"></i> <% echo(__('chimera', 'Add filter')) %></button>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input name="data[<%= modelName %>][filters]"  value="" type="hidden" >
	<% form.end() %>
</div>
<div class="clear"></div>
<script>$('.selectpicker').selectpicker();</script>